form .user {
  margin-bottom: 1.5rem;
}

.user {
  display: flex;
  align-items: center;
}

.user .user-picture {
  margin-right: 1rem;
}

.user-picture {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.limit {
  text-align: center;
}

.debt {
  text-align: center;
}

.credit-number {
  font-size: 2.4rem;
  font-weight: bold;
}

.buttons {
  text-align: center;  
}
.buttons button {
  margin-right: 1rem;
}
