:root {
  background: #fcfcfc;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

td, th {
  border-bottom: none;
}

button {
  font-family: 'Open Sans', sans-serif; 
}

body > header > div {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
body > header > div > h3 {
  margin-bottom: 0px;
}

.credit-network {
  font-family: 'Pacifico', cursive;
}

body > header > nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

body > main {
  padding: 2rem;
}

form .user {
  margin-bottom: 1.5rem;
}

.user {
  display: flex;
  align-items: center;
}

.user .user-picture {
  margin-right: 1rem;
}

.user-picture {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.limit {
  text-align: center;
}

.debt {
  text-align: center;
}

.credit-number {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.buttons {
  text-align: center;  
}

.buttons button {
  margin-right: 1rem;
}
