extends ../layout

include ../mixins/user.pug

block content

  header
    div
      h3.credit-network Credit Network
      img.user-picture(src=user.picture alt=user.name)

    nav
      a(href='./users/' + user.id + '/connections') Connections
      a(href='./users/' + user.id + '/connection-requests') Requests
      
  main
    block user-content

