extends ../layout

include ../mixins/user.pug

block content

  header
    div
      h6 Credit Network
      h3: +user(user)

    nav
      a(href='./users/' + user.id + '/connections') Connections
      a(href='./users/' + user.id + '/connection-requests') Requests
      
  main
    block user-content

