extends ../layout

include ../mixins/user.pug

block content

  header
    div
      h6= network.name
      h3: +user(user)

    nav
      a(href='./networks/' + network.id + '/users/' + user.id + '/connections') Connections
      a(href='./networks/' + network.id + '/users/' + user.id + '/connection-requests') Requests
      
  main
    block user-content

