extends ../layout

block content

  h3 Networks

  case networks.length
    when 0
      p You haven't created any networks yet.
    default
      table.u-full-width
        tbody
          each network in networks
            tr
              td: a(href='./networks/' + network.id)= network.name
