extends ../layout

include ../mixins/user.pug

block content

  h3= network.name

  case users.length
    when 0
      p You haven't created any users yet.
    default
      table.u-full-width
        thead
          tr
            th User
            th Balance
        tbody
          each user in users
            tr
              td: +user(user)(href='./networks/' + network.id + '/users/' + user.id)
              td= user.balance

  form(method='POST' action='./networks/' + network.id + '/users')
    button(type='submit') CREATE USER
