extends layout

block content

  include includes/user-header.pug

  h5 Select someone to create a credit connection


  h5 Define a credit limit between you two

  form(method='POST' action='./networks/' + network.id + '/users' + user.id + '/connections')

    label(for='limit') Define a credit limit between you two
    
    input(type='number' min='0' id='limit')

    button(type='submit') CREATE CONNECTION
