extends ../user

include ../../mixins/user.pug

block user-content

  h5 Define a credit limit between you and #{other.name}

  form(method='POST' action='./users/' + user.id + '/connection-requests/to/' + other.id)
    
    +user(other)

    label(for='limit') Credit limit
    .u-full-width: input(type='number' min='0' name='limit' id='limit')

    button(type='submit') SEND REQUEST
