extends ../../layout

include ../../mixins/user-header.pug
include ../../mixins/user.pug

block content

  header
    +user-header(user)
  
  main
    h4 Create a credit connection with a friend

    .info
      p A credit connection means you both accept to owe each other up to 100 credits.
      p When your friend owes you some credit, you can use it to pay anyone in her network. 

    p Select someone you trust to create a credit connection. 

    case others.length
      when 0
        p There is no one else in the network that is not already connected to you...
        
      default
        table.u-full-width
          tbody
            each other in others
              tr
                td: +user(other)(href='./users/' + user.id + '/connection-requests/to/' + other.id + '/confirm')
              
