extends ../../layout

include ../../mixins/user-header.pug
include ../../mixins/user.pug
include ../../mixins/debt.pug

block content

  header
    +user-header(user)
    nav
      a(href='./users/' + user.id + '/connections') Connections
      a(href='./users/' + user.id + '/connection-requests').active Requests

  main
    if receivedReqs.length + sentReqs.length > 0
      table.u-full-width
        thead
          tr
            th Requests waiting 
            th.debt 
        tbody

          each receivedReq in receivedReqs
            tr
              td: +user(receivedReq.from)(href='./users/' + receivedReq.from.id)
              td.actions
                button.button-primary() ACCEPT
                button() DECLINE
                .actions-info Received #{moment(receivedReq.date).fromNow()}
                

          each sentReq in sentReqs
            tr
              td: +user(sentReq.to)(href='./users/' + sentReq.to.id)
              td.actions 
                button() CANCEL
                .actions-info Sent #{moment(sentReq.date).fromNow()}

    else
      p You don't have any connection requests waiting.

