extends ../../layout

include ../../mixins/user-header.pug
include ../../mixins/user-picture.pug
include ../../mixins/debt.pug

block content

  header
    +user-header(user)
    nav
      a(href='./users/' + user.id + '/connections') Connections
      a(href='./users/' + user.id + '/connection-requests').active Requests

  main
    each receivedReq in receivedReqs
      .request
        +user-picture(receivedReq.from)
        div
          p #[strong #{receivedReq.from.name}] sent you a connection request #{moment(receivedReq.date).fromNow()}.
          .actions
            button.button-primary() ACCEPT
            button() DECLINE
              
    each sentReq in sentReqs
      .request
        +user-picture(sentReq.to)
        div
          p You sent a connection request to #[strong #{sentReq.to.name}] #{moment(sentReq.date).fromNow()}.
          .actions 
            button() CANCEL
      
    if receivedReqs.length + sentReqs.length === 0
      p No connection requests waiting.

